[Unit]
Description=The PHP FastCGI Process Manager (iipe-php{{PHP_VERSION_SHORT}})
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/opt/iipe/iipe-php{{PHP_VERSION_SHORT}}/root/run/php-fpm/php-fpm.pid
ExecStart=/opt/iipe/iipe-php{{PHP_VERSION_SHORT}}/root/usr/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target 